body {
    background-image: url("https://decoratorsnotebook.files.wordpress.com/2013/04/dsc_0048.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}