<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Emmerlijstje{% endblock %}</title>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">


    {% if app.environment == 'prod' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63718351-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-63718351-1');
        </script>
    {% endif %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="bg"></div>
    <div id="react"></div>
{% endblock %}
{% block javascripts %}

    <script>
        const csrf = "{{ csrf_token('authenticate') }}";
        const app = {
            user: {% if app.user %}{{ app.user|json_encode|raw }}{% else %}null{% endif %}
        };
    </script>

    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>
